<center>

<h3>Search Result</h3>

<% @results.each do |result| %>

  <hr>
  <h6>ID : <%= result.id %> , Title :  <%= result.title %> ,

    <p>  <%= result.purpose %></h6> </p>
    <p> Tags <%= result.tags.map{|tag|tag.name} %></p>
<% end %>

</center>
